body,
html,
#root {
  margin: 0;
  padding: 0;
  height: 100%;
}

.contenedor-voto {
  font-family: "Segoe UI", sans-serif;
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.encabezado {
  background-color: #25418e;
  color: white;
  padding: 1.2rem 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo-titulo {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.logo {
  height: 5.5rem;
}

.estado {
  font-size: 1.5rem;
  font-weight: bold;
  color: #ffffff;
}

.cuerpo {
  background-color: #eceaea;
  flex-grow: 1;
  padding: 2rem;
  padding-bottom: 8rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.titulo-seleccion {
  font-size: 1.8rem;
  font-weight: 600;
  color: #1e2a38;
  margin-bottom: 2%;
  text-align: center;
}

.seccion-busqueda {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 1rem;
  box-sizing: border-box;
}


.buscador:focus {
  border-color: #007bff;
  box-shadow: 0 0 0 3px rgba(0, 123, 255, 0.2);
}

.opcion-lista {
  background: linear-gradient(145deg, #ffffff, #f0f0f0);
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.08);
  padding: 1.5rem;
  height: 130px;
  border-radius: 16px;
  border: 2px solid transparent;
  display: flex;
  flex-direction: column;
  justify-content: center;
  transition: all 0.25s ease;
  cursor: pointer;
  font-size: 1.1rem;
  color: #333;
}

.pie {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: #ffffff;
  padding: 1rem;
  box-shadow: 0 -2px 6px rgba(0, 0, 0, 0.1);
  display: flex;
  justify-content: center;
  z-index: 999;
}

.boton-confirmar {
  background-color: #25418e;
  color: white;
  padding: 0.9rem 2rem;
  border: none;
  border-radius: 8px;
  font-size: 1rem;
  font-weight: 600;
  cursor: pointer;
  transition: background-color 0.3s;
}

.boton-confirmar:hover {
  background-color: #020b1f;
}

.mensaje {
  color: #000000;
  padding: 0.5rem 1rem;
  border-radius: 6px;
  font-weight: 600;
  font-size: 1rem;
  margin-top: 2rem;
  display: inline-block;
  text-align: center;
}

.color-ap { border-left: 0.7rem solid #e6194b; }
.color-ca { border-left: 0.7rem solid #3cb44b; }
.color-fa { border-left: 0.7rem solid #4363d8; }
.color-ar { border-left: 0.7rem solid #f58231; }
.color-pc { border-left: 0.7rem solid #911eb4; }
.color-amb { border-left: 0.7rem solid #46f0f0; }
.color-eco { border-left: 0.7rem solid #f032e6; }
.color-ids { border-left: 0.7rem solid #bcf60c; }
.color-pi { border-left: 0.7rem solid #fabebe; }
.color-pn { border-left: 0.7rem solid #008080; }
.color-pcn { border-left: 0.7rem solid #ffd700; }
.color-generico { border-left: 0.7rem solid #999999; }

.buscador {
  width: 100%;
  max-width: 850px;
  padding: 1rem 1.5rem;
  border-radius: 10px;
  border: 1px solid #ccc;
  font-size: 1.2rem;
  outline-color: #007bff;
  box-sizing: border-box;
  margin: 0 auto 2rem auto;
  display: block;
  margin-bottom: 3%;
}

.opciones-listas-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 2rem;
  width: 100%;
  max-width: 1600px;
  padding: 0 2rem;
  box-sizing: border-box;
}

.opcion-lista.blanco {
  background-color: #f0f0f0;
  border-left: 0.7rem solid #8c8c8c;
  color: #222;
}

.opcion-lista.anulado {
  background-color: #e8e8e8;
  border-left: 0.7rem solid #5a5a5a;
  color: #222;
}

.opcion-lista.seleccionada {
  background: #a3a3a3;
  border-color: #000000;
}



