.contenedor-autorizacion {
  font-family: "Segoe UI", sans-serif;
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.encabezado {
  background-color: #25418e;
  color: white;
  padding: 1.2rem 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo-titulo {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.logo {
  height: 5.5rem;
}

.estado {
  font-size: 1.5rem;
  font-weight: bold;
  color: #ffffff;
}

.cuerpo {
  background-color: #eceaea;
  flex-grow: 1;
  padding: 0.5rem 2rem 2rem 2rem;
  text-align: center;
  overflow-y: auto;
}

.tabla-observados {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 1rem;
  margin: 0 auto;
  max-width: 1200px;

  max-height: calc(3 * 180px + 2rem); /* Altura estimada de 3 tarjetas + padding */
  overflow-y: auto;
  padding-right: 0.5rem; /* Para que no tape el scroll */
}

.fila-voto {
  background: #fff;
  border-radius: 16px;
  padding: 1.5rem;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.08);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 150px;
}


.fila-voto > div {
  margin-bottom: 1rem;
  margin-top: 2rem;
  text-align: left;
}

.boton-cierreMesa {
  background-color: #d30a1b;
  color: white;
  padding: 0.9rem 2rem;
  border: none;
  border-radius: 8px;
  font-size: 1rem;
  font-weight: 600;
  cursor: pointer;
  transition: background-color 0.3s;
}

.boton-cierre-container {
  display: flex;
  justify-content: center;
  margin-bottom: 2rem;
  margin-top: 1rem;
}

.boton-cierreMesa:hover {
  background-color: #020b1f;
}

.boton-confirmar {
  align-self: flex-end;
  margin-top: auto;
}

.boton-confirmar:hover {
  background-color: #020b1f;
}

.mensaje {
  margin-top: 1.5rem;
  font-weight: 600;
  color: #1e2a38;
}

.spinner {
  border: 4px solid rgba(0, 0, 0, 0.1);
  width: 36px;
  height: 36px;
  border-radius: 50%;
  border-left-color: #09f;
  animation: spin 1s linear infinite;
  margin: 0 auto;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}